<%= raw @statjs %>
<%= javascript_include_tag "computers" %>

<h3>Computer Lab Finder</h3>
<div data-role="collapsible-set">

  <div data-role="collapsible" data-mini="true" data-content-theme="b">
    <h4><span style="float: left;">Library 1st Floor:</span> <span style="float: right;"><span class="labstat" labid="22" labvar="lab_available"></span> Available</span></h4>
    In Use: <span class="labstat" labid="22" labvar="lab_inuse"></span><br />
    Available: <span class="labstat" labid="22" labvar="lab_available"></span><br />
    Offline: <span class="labstat" labid="22" labvar="lab_offline"></span><br />
    Total: <span class="labstat" labid="22" labvar="lab_total"></span>
  </div>


  <div data-role="collapsible" data-mini="true" data-content-theme="b">
    <h4><span style="float: left;">Library Reference:</span><span style="float: right;"><span class="labstat" labid="40" labvar="lab_available"></span> Available</span></h4>
    In Use: <span class="labstat" labid="40" labvar="lab_inuse"></span><br />
    Available: <span class="labstat" labid="40" labvar="lab_available"></span><br />
    Offline: <span class="labstat" labid="40" labvar="lab_offline"></span><br />
    Total: <span class="labstat" labid="40" labvar="lab_total"></span>
  </div>


  <div data-role="collapsible" data-mini="true" data-content-theme="b">
    <h4><span style="float: left;">Library 1100 GSU:</span><span style="float: right;"><span class="labstat" labid="9" labvar="lab_available"></span> Available</span></h4>
    In Use: <span class="labstat" labid="9" labvar="lab_inuse"></span><br />
    Available: <span class="labstat" labid="9" labvar="lab_available"></span><br />
    Offline: <span class="labstat" labid="9" labvar="lab_offline"></span><br />
    Total: <span class="labstat" labid="9" labvar="lab_total"></span>
  </div>


  <div data-role="collapsible" data-mini="true" data-content-theme="b">
    <h4><span style="float: left;">Mendoza BIC:</span><span style="float: right;"><span class="labstat" labid="41" labvar="lab_available"></span> Available</span></h4>
    In Use: <span class="labstat" labid="41" labvar="lab_inuse"></span><br />
    Available: <span class="labstat" labid="41" labvar="lab_available"></span><br />
    Offline: <span class="labstat" labid="41" labvar="lab_offline"></span><br />
    Total: <span class="labstat" labid="41" labvar="lab_total"></span>
  </div>

</div>

<span class="font-small"><%= @time.strftime("As of %m/%d/%y %I:%M %p")%></span>