<h3>Ask a Librarian</h3>

<div data-role="collapsible-set">

  <div data-role="collapsible" data-mini="true" data-content-theme="b">
    <h5>Chat</h5>
    <div style='margin-left:-10px;'>
      <iframe frameborder="0" style="max-width: 95%; height: 250px; border: 1px solid #dcd5b6;" src="http://libraryh3lp.com/mobile/nd-ask-a-lib@chat.libraryh3lp.com?skin=16575&title=Ask%20a%20Librarian&identity=asklib"></iframe>
    </div>
  </div>

  <div data-role="collapsible" data-mini="true" data-content-theme="b">
    <h5>Phone</h5>
    <a href="tel:5746316258">574-631-6258</a>
  </div>

  <div data-role="collapsible" data-mini="true" data-content-theme="b">
    <h5>Email</h5>
    <a href="mailto:asklib@nd.edu">asklib@nd.edu</a>
  </div>

</div>


