<h3>Ask a Librarian</h3>

<div data-role="collapsible-set">

  <div data-role="collapsible" data-mini="true" data-content-theme="b">
    <h5>Chat</h5>
    <div style='margin-left:-10px;'>
      <div class="needs-js">Javascript must be enabled to use chat!</div>
    </div>
  </div>

  <div data-role="collapsible" data-mini="true" data-content-theme="b">
    <h5>Phone</h5>
    <a href="tel:5746316258">574-631-6258</a>
  </div>

  <div data-role="collapsible" data-mini="true" data-content-theme="b">
    <h5>Email</h5>
    <a href="mailto:asklib@nd.edu">asklib@nd.edu</a>
  </div>

</div>



<script type="text/javascript">
    (function() {
        var x = document.createElement("script"); x.type = "text/javascript"; x.async = true;
        x.src = (document.location.protocol === "https:" ? "https://" : "http://") + "libraryh3lp.com/js/libraryh3lp.js?4242";
        var y = document.getElementsByTagName("script")[0]; y.parentNode.insertBefore(x, y);
    })();
</script>
