<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Feedback</h1>

Name: <%= @message.name %><br />
Email: <%= @message.email %>    <br /><br />

Feedback:
<p><%= @message.body %>s</p>

</body>
</html>