
  <h3 style='margin-bottom:5px;'>Tours and Workshops</h3>

To register for an event, please visit <%= link_to "the library workshop site", "https://#{Rails.configuration.library_host}/instruction/workshops/", target: '_blank' %>.
<br /><br />
  <div>
  <ul data-role="listview" data-theme="a" data-divider-theme="b">
    <% @items.each do |item| %>
        <li data-role="list-divider"><%= item['title'] %></li>
        <li style="margin-left:7px; white-space: normal; border-style:none;"><%= raw item['post'] %></li>
    <% end %>
  </ul>
  </div>










