
  <h3>Tours and Workshops</h3>

  <div class="content-primary">
  <ul data-role="listview" data-theme="b" data-divider-theme="b">
    <% @items.each do |item| %>
        <li data-role="list-divider"><%= item['title'] %></li>
        <li style="margin-left:7px; white-space: normal;"><%= raw item['post'] %></li>
    <% end %>
  </ul>
  </div>










