/* Swatches */

/* I
-----------------------------------------------------------------------------------------------------------*/


div.icon img {
   	display:block;
   	margin:auto;
}

div.icon {
	width:80px;
	text-align:center;
	font-size:0.6em;
}


.ui-bar-i {
	border: 0px solid #1d262f /*{a-bar-border}*/;
	background: #6eb3ec /*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow:  0  /*{a-bar-shadow-x}*/  1px  /*{a-bar-shadow-y}*/  1px  /*{a-bar-shadow-radius}*/ #000000 /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #2c5782 /*{a-bar-background-start}*/), to( #2c5782 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #2c5782 /*{a-bar-background-start}*/, #2c5782 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #2c5782 /*{a-bar-background-start}*/, #2c5782 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #2c5782 /*{a-bar-background-start}*/, #2c5782 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #2c5782 /*{a-bar-background-start}*/, #2c5782 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #2c5782 /*{a-bar-background-start}*/, #2c5782 /*{a-bar-background-end}*/);
	background-image:url('../images/header.jpg');
	background-repeat:no-repeat;
	height:60px;
}




.ui-bar-i .ui-link-inherit {
	color: #ffffff /*{a-bar-color}*/;
}
.ui-bar-i .ui-link {
	color:  #7cc4e7  /*{a-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-i .ui-link:hover {
	color:  #2489CE  /*{a-bar-link-hover}*/;
}

.ui-bar-i .ui-link:active {
	color:  #2489CE  /*{a-bar-link-active}*/;
}

.ui-bar-i .ui-link:visited {
    color:  #2489CE  /*{a-bar-link-visited}*/;
}

.ui-bar-i,
.ui-bar-i input,
.ui-bar-i select,
.ui-bar-i textarea,
.ui-bar-i button {
	 font-family: Verdana, Helvetica, Arial, sans-serif  /*{global-font-family}*/;
}
.ui-body-i,
.ui-overlay-i {
	border: 1px solid  		#aaaaaa  /*{a-body-border}*/;
	color:  	#333333  /*{a-body-color}*/;
	text-shadow:  0  /*{a-body-shadow-x}*/  1px  /*{a-body-shadow-y}*/  0  /*{a-body-shadow-radius}*/  #dae1e7  /*{a-body-shadow-color}*/;
	background:  			#2d5883  /*{a-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #f9f9f9  /*{a-body-background-start}*/), to(  #eeeeee  /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #f9f9f9  /*{a-body-background-start}*/,  #eeeeee  /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #f9f9f9  /*{a-body-background-start}*/,  #eeeeee  /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #f9f9f9  /*{a-body-background-start}*/,  #eeeeee  /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #f9f9f9  /*{a-body-background-start}*/,  #eeeeee  /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #f9f9f9  /*{a-body-background-start}*/,  #eeeeee  /*{a-body-background-end}*/);
	background-image:url('../images/content.jpg');
	background-repeat:no-repeat;
}
.ui-overlay-i {
	background-image:none;
	border-width: 0;
}
.ui-body-i,
.ui-body-i input,
.ui-body-i select,
.ui-body-i textarea,
.ui-body-i button {
	 font-family: Verdana, Helvetica, Arial, sans-serif  /*{global-font-family}*/;
}

.ui-body-i .ui-link-inherit {
	color:  	#333333  /*{a-body-color}*/;
}

.ui-body-i .font-small {
	
}




.ui-body-i .ui-link {
	color: #2c5782 /*{a-body-link-color}*/;
	font-weight: bold;
}

.ui-body-i .ui-link:hover {
	color:  #2489CE  /*{a-body-link-hover}*/;
}

.ui-body-i .ui-link:active {
	color:  #2489CE  /*{a-body-link-active}*/;
}

.ui-body-i .ui-link:visited {
    color:  #2489CE  /*{a-body-link-visited}*/;
}

.ui-btn-up-i {
	border: 1px solid  		#cccccc  /*{a-bup-border}*/;
	background:  			#eeeeee  /*{a-bup-background-color}*/;
	font-weight: bold;
	color:  					#2F3E46  /*{a-bup-color}*/;
	text-shadow:  0  /*{a-bup-shadow-x}*/  1px  /*{a-bup-shadow-y}*/  0  /*{a-bup-shadow-radius}*/  #ffffff  /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #ffffff  /*{a-bup-background-start}*/), to(  #f1f1f1  /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #ffffff  /*{a-bup-background-start}*/,  #f1f1f1  /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #ffffff  /*{a-bup-background-start}*/,  #f1f1f1  /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #ffffff  /*{a-bup-background-start}*/,  #f1f1f1  /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #ffffff  /*{a-bup-background-start}*/,  #f1f1f1  /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #ffffff  /*{a-bup-background-start}*/,  #f1f1f1  /*{a-bup-background-end}*/);
}
.ui-btn-up-i a.ui-link-inherit {
	color:  					#2F3E46  /*{a-bup-color}*/;
}

.ui-btn-hover-i {
	border: 1px solid  		#bbbbbb  /*{a-bhover-border}*/;
	background:  			#dfdfdf  /*{a-bhover-background-color}*/;
	font-weight: bold;
	color:  					#2F3E46  /*{a-bhover-color}*/;
	text-shadow:  0  /*{a-bhover-shadow-x}*/  1px  /*{a-bhover-shadow-y}*/  0  /*{a-bhover-shadow-radius}*/  #ffffff  /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #f6f6f6  /*{a-bhover-background-start}*/), to(  #e0e0e0  /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #f6f6f6  /*{a-bhover-background-start}*/,  #e0e0e0  /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #f6f6f6  /*{a-bhover-background-start}*/,  #e0e0e0  /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #f6f6f6  /*{a-bhover-background-start}*/,  #e0e0e0  /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #f6f6f6  /*{a-bhover-background-start}*/,  #e0e0e0  /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #f6f6f6  /*{a-bhover-background-start}*/,  #e0e0e0  /*{a-bhover-background-end}*/);
}
.ui-btn-hover-i a.ui-link-inherit {
	color:  					#2F3E46  /*{a-bhover-color}*/;
}
.ui-btn-down-i {
	border: 1px solid  		#bbbbbb  /*{a-bdown-border}*/;
	background:  			#d6d6d6  /*{a-bdown-background-color}*/;
	font-weight: bold;
	color:  					#2F3E46  /*{a-bdown-color}*/;
	text-shadow:  0  /*{a-bdown-shadow-x}*/  1px  /*{a-bdown-shadow-y}*/  0  /*{a-bdown-shadow-radius}*/  #ffffff  /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #d0d0d0  /*{a-bdown-background-start}*/), to(  #dfdfdf  /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #d0d0d0  /*{a-bdown-background-start}*/,  #dfdfdf  /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #d0d0d0  /*{a-bdown-background-start}*/,  #dfdfdf  /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #d0d0d0  /*{a-bdown-background-start}*/,  #dfdfdf  /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #d0d0d0  /*{a-bdown-background-start}*/,  #dfdfdf  /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #d0d0d0  /*{a-bdown-background-start}*/,  #dfdfdf  /*{a-bdown-background-end}*/);
}
.ui-btn-down-i a.ui-link-inherit {
	color:  					#2F3E46  /*{a-bdown-color}*/;
}
.ui-btn-up-i,
.ui-btn-hover-i,
.ui-btn-down-i {
	 font-family: Verdana, Helvetica, Arial, sans-serif  /*{global-font-family}*/;
	text-decoration: none;
}