

  <div style='margin-left:10px;margin-right:10px;'>

  <h4>Architecture Library</h4>

  <%= image_tag "branches/Bond Hall.jpg", {:class => "branch"} %>

    <div style="font-size:0.95em;">
    117 Bond Hall<br />Notre Dame, IN 46556<br />
    <a href="http://architecture.library.nd.edu/" target="_blank">architecture.library.nd.edu</a><br />
    <img src="/assets/gps.png" style="float:left; width:1.5em;">
    <a href='http://map.nd.edu/#/placemarks/1020/zoom/16/lat/41.7006129982979/lon/-86.238899' target='_blank'>view map</a><br />
    <br />
    Tel: <a href="tel:5746316654">574.631.6654</a><br />
    <a href="mailto:archlib@nd.edu">archlib@nd.edu</a>
    </div>

    <div id="architecture_library_destination" class="font-smaller"></div>



  </div>
