

  <div style='margin-left:10px;margin-right:10px;'>

  <h4>Mahaffey Business Information Center Library</h4>

  <%= image_tag "branches/Mendoza.jpg", {:class => "branch"} %>

    <div style="font-size:0.95em;">
      L001 Mendoza College of Business<br />Notre Dame, IN 46556<br />
      <a href="http://bic.library.nd.edu/" target="_blank">bic.library.nd.edu</a><br />
    <img src="/assets/gps.png" style="float:left; width:1.5em;">
    <a href='http://map.nd.edu/#/placemarks/1148/zoom/16/lat/41.70074917635271/lon/-86.23908139021303' target='_blank'>view map</a><br />
    <br />
    Tel: <a href="tel:5746319098">574.631.9098</a>
    </div>


    <div id="bic_destination" class="font-smaller"></div>


  </div>
