

  <div style='margin-left:10px;margin-right:10px;'>

  <h4>Chemistry - Physics Library</h4>

  <%= image_tag "branches/Nieuwland.JPG", {:class => "branch"} %>

    <div style="font-size:0.75em;">
    231 Nieuwland Science Hall<br />Notre Dame, IN 46556<br />
    <img src="/assets/gps.png" style="float:left; width:1.5em;">
    <a href='http://map.nd.edu/#/placemarks/1050/zoom/16/lat/41.70074917635271/lon/-86.23908139021303' target='_blank'>view map</a><br />
    <br />
    Tel: <a href="tel:5746317203">574.631.7203</a>
    </div>

      <h5 style="margin-bottom:0px;">Semester Hours:</h5>
      <div class="ui-grid-a font-small">
        <div class="ui-block-a" style="width:25%;">Mon-Thu</div><div class="ui-block-b" style="width:75%;">8:00 am - 12:00 am</div>
        <div class="ui-block-a" style="width:25%;">Fri</div><div class="ui-block-b" style="width:75%;">8:00 am - 5:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">Closed</div>
        <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">1:00 pm - 12:00 am</div>
      </div>

   </div>