

  <div style='margin-left:10px;margin-right:10px;'>

  <h4>Chemistry - Physics Library</h4>

  <%= image_tag "branches/Nieuwland.JPG", {:class => "branch"} %>

    <div style="font-size:0.95em;">
    231 Nieuwland Science Hall<br />Notre Dame, IN 46556<br />
    <a href="http://chemistry.library.nd.edu" target="_blank">chemistry.library.nd.edu</a><br />
    <img src="/assets/gps.png" style="float:left; width:1.5em;">
    <a href='http://map.nd.edu/#/placemarks/1050/zoom/16/lat/41.70074917635271/lon/-86.23908139021303' target='_blank'>view map</a><br />
    <br />
    Tel: <a href="tel:5746317203">574.631.7203</a>
    </div>

    <h4 style="margin-bottom:0px;">Holiday Hours:</h4>
    <div class="ui-grid-a font-smaller">
      <div class="ui-block-a" style="width:35%;">Dec 22-Jan 1</div><div class="ui-block-b" style="width:65%;">CLOSED</div>
      <div class="ui-block-a" style="width:35%;">Jan 2-4</div><div class="ui-block-b" style="width:65%;">8am-12pm, 1pm-5pm</div>
      <div class="ui-block-a" style="width:35%;">Jan 5-6</div><div class="ui-block-b" style="width:65%;">CLOSED</div>
      <div class="ui-block-a" style="width:35%;">Jan 7-11</div><div class="ui-block-b" style="width:65%;">8am-12pm, 1pm-5pm</div>
      <div class="ui-block-a" style="width:35%;">Jan 12-13</div><div class="ui-block-b" style="width:65%;">CLOSED</div>
      <div class="ui-block-a" style="width:35%;">Jan 14</div><div class="ui-block-b" style="width:65%;">8am-12pm, 1pm-5pm</div>
    </div>


    <h4 style="margin-bottom:0px;">Semester Hours:</h4>
      <div class="ui-grid-a font-smaller">
        <div class="ui-block-a" style="width:25%;">M-Th</div><div class="ui-block-b" style="width:75%;">8:00 am - 12:00 am</div>
        <div class="ui-block-a" style="width:25%;">Fri</div><div class="ui-block-b" style="width:75%;">8:00 am - 5:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">Closed</div>
        <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">1:00 pm - 12:00 am</div>
      </div>

   </div>