

  <div style='margin-left:10px;margin-right:10px;'>

  <h4>Engineering Library</h4>

  <%= image_tag "branches/Fitzpatrick.jpg", {:class => "branch"} %>

    <div style="font-size:0.95em;">
    149 Fitzpatrick Hall of Engineering<br />Notre Dame, IN 46556<br />
    <a href="http://engineering.library.nd.edu/" target="_blank">engineering.library.nd.edu</a><br />
    <img src="/assets/gps.png" style="float:left; width:1.5em;">
    <a href='http://map.nd.edu/#/placemarks/1088/zoom/16/lat/41.70074917635271/lon/-86.23908139021303' target='_blank'>view map</a><br />
    <br />
    Tel: <a href="tel:5746316665">574.631.6665</a><br />
    <a href="mailto:engrlib@nd.edu">engrlib@nd.edu</a><br />
    </div>


    <h4 style="margin-bottom:0px;">Semester Hours*:</h4>
      <div class="ui-grid-a font-smaller">
        <div class="ui-block-a" style="width:25%;">M-Th</div><div class="ui-block-b" style="width:75%;">8:00 am - 11:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Fri</div><div class="ui-block-b" style="width:75%;">8:00 am - 6:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">1:00 pm - 5:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">1:00 pm - 11:00 pm</div>
      </div>
      <br />

      <div class="font-smaller">* Card swipe access to the library is available for Engineering faculty and students after normal business hours.</div>

  </div>
