
  <div style='margin-left:10px;margin-right:10px;'>

  <h4>Theodore M. Hesburgh Library</h4>

  <%= image_tag "branches/Library.jpg", {:class => "branch"} %>

    <div style="font-size:0.95em;">
    221 Hesburgh Library<br />Notre Dame, IN 46556<br />
    <img src="/assets/gps.png" style="float:left; width:1.5em;">
    <a href='http://map.nd.edu/#/placemarks/1076/zoom/16/lat/41.705233090036245/lon/-86.2331534470825' target='_blank'>view map</a><br />
    <br />
    Tel: <a href="tel:5746316258">(574) 631-6258</a><br />
    <a href="mailto:asklib@nd.edu">asklib@nd.edu</a>
    </div>


    <h4 style="margin-bottom:0px;">Holiday Hours:</h4>
    <div class="ui-grid-a font-smaller">
      <div class="ui-block-a" style="width:35%;">Jan 2-4</div><div class="ui-block-b" style="width:65%;">7:30am-11:00pm</div>
      <div class="ui-block-a" style="width:35%;">Jan 5</div><div class="ui-block-b" style="width:65%;">9:00am-11:00pm</div>
      <div class="ui-block-a" style="width:35%;">Jan 6</div><div class="ui-block-b" style="width:65%;">10:00am-11:00pm</div>
      <div class="ui-block-a" style="width:35%;">Jan 7-11</div><div class="ui-block-b" style="width:65%;">7:30am-11:00pm</div>
      <div class="ui-block-a" style="width:35%;">Jan 12</div><div class="ui-block-b" style="width:65%;">9:00am-11:00pm</div>
      <div class="ui-block-a" style="width:35%;">Jan 13</div><div class="ui-block-b" style="width:65%;">10:00am-11:00pm</div>
    </div>


      <h4 style="margin-bottom:0px;">Regular Semester Building Hours:</h4>
      <div class="ui-grid-a font-smaller">
        <div class="ui-block-a" style="width:25%;">M-Th</div><div class="ui-block-b" style="width:75%;">Open 24 Hours*</div>
        <div class="ui-block-a" style="width:25%;">Fri</div><div class="ui-block-b" style="width:75%;">Open until 11:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">9:00 am - 11:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">Opens at 10:00 am*</div>
      </div>


    <div data-role="collapsible" data-mini="true" data-iconpos="right" data-theme="a" data-content-theme="b">
      <h4>* 24/5 Policy</h4>
          At 10:00pm Sunday night through Thursday night the doors to the library will be locked and access will only be through the east and west concourse doors using a swipe reader. You must swipe your card and enter your pin. Your pin is the month and date of your birth. Upon doing this the doors will release for approximately 8 seconds to allow access or you can press the handicap button which will allow the doors to open.
          <br /><br />
          At 7:00am Monday through Friday the doors will be unlocked and the swipe card reader will be disabled.
          <br /><br />
          The swipe card system is only set up for NDID’s. SMC, HC, and Bethel students must call 631-6350 and the security monitor will come and check ID’s and allow access.
    </div>

      <h4 style="margin-bottom:0px;">Circulation and Course Reserves:</h4>
      <a href="tel:5746316258" class="font-small">(574) 631-6318</a><br />
      <div class="ui-grid-a font-smaller">
        <div class="ui-block-a" style="width:25%;">M-Th</div><div class="ui-block-b" style="width:75%;">8:00 am - 12:00 am</div>
        <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">12:00 pm - 6:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">12:00 pm - 5:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">12:00 pm - 12:00 am</div>
      </div>


      <h4 style="margin-bottom:0px;">Computer Lab:</h4>
      <a href="tel:5746316892" class="font-small">(574) 631-6892</a><br />
      <div class="ui-grid-a font-smaller">
        <div class="ui-block-a" style="width:25%;">M-Th</div><div class="ui-block-b" style="width:75%;">Open 24 Hours*</div>
        <div class="ui-block-a" style="width:25%;">Fri</div><div class="ui-block-b" style="width:75%;">Open until 11:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">9:00 am - 11:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">Opens at 10:00 am*</div>
      </div>

      <h4 style="margin-bottom:0px;">Lower Level Service Desk:</h4>
      <a href="tel:5746312889" class="font-small">(574) 631-2889</a><br />
      <div class="ui-grid-a font-smaller">
        <div class="ui-block-a" style="width:25%;">M-Th</div><div class="ui-block-b" style="width:75%;">9:00 am - 10:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Fri</div><div class="ui-block-b" style="width:75%;">9:00 am - 5:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">12:00 pm - 5:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">12:00 pm - 10:00 pm</div>
      </div>



    <h4 style="margin-bottom:0px;">Medieval Institute:</h4>
    <a href="tel:5746315724" class="font-small">(574) 631-5724</a><br />
    <div class="ui-grid-a font-smaller">
      <div class="ui-block-a" style="width:25%;">Mon-Fri</div><div class="ui-block-b" style="width:75%;">8:00 am - 5:00 pm</div>
      <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">CLOSED</div>
      <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">CLOSED</div>
    </div>


    <h4 style="margin-bottom:0px;">Music and Media Services Unit:</h4>
    <a href="tel:5746317438" class="font-small">(574) 631-7438</a><br />
    <div class="ui-grid-a font-smaller">
      <div class="ui-block-a" style="width:25%;">Mon-Fri</div><div class="ui-block-b" style="width:75%;">8:00 am - 5:00 pm</div>
      <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">CLOSED</div>
      <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">CLOSED</div>
    </div>

    <h4 style="margin-bottom:0px;">Reference Desk:</h4>
    <a href="tel:5746316258" class="font-small">(574) 631-6258</a><br />
    <div class="ui-grid-a font-smaller">
      <div class="ui-block-a" style="width:25%;">M-Th</div><div class="ui-block-b" style="width:75%;">9:00 am - 9:00 pm</div>
      <div class="ui-block-a" style="width:25%;">Fri</div><div class="ui-block-b" style="width:75%;">9:00 am - 5:00 pm</div>
      <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">12:00 pm - 5:00 pm</div>
      <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">12:00 pm - 9:00 pm</div>
    </div>

    <h4 style="margin-bottom:0px;">Special Collections:</h4>
    <a href="tel:5746315610" class="font-small">(574) 631-5610</a><br />
    <div class="ui-grid-a font-smaller">
      <div class="ui-block-a" style="width:25%;">Mon-Fri</div><div class="ui-block-b" style="width:75%;">8:00 am - 5:00 pm</div>
      <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">CLOSED</div>
      <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">CLOSED</div>
    </div>

    <h4 style="margin-bottom:0px;">University Archives:</h4>
    <a href="tel:5746316448" class="font-small">(574) 631-6448</a><br />
    <div class="ui-grid-a font-smaller">
      <div class="ui-block-a" style="width:25%;">Mon-Fri</div><div class="ui-block-b" style="width:75%;">8:00 am - 5:00 pm</div>
      <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">CLOSED</div>
      <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">CLOSED</div>
    </div>


  </div>
