

  <div style='margin-left:10px;margin-right:10px;'>

  <h4>Theodore M. Hesburgh Library</h4>

  <img src="/assets/Library.jpg" style="max-width: 100%; margin-bottom:15px;">

    <div style="font-size:0.75em;">
    221 Hesburgh Library<br />Notre Dame, IN 46556<br />
    <img src="/assets/gps.png" style="float:left; width:1.5em;">
    <a href='http://map.nd.edu/#/placemarks/1076/zoom/16/lat/41.705233090036245/lon/-86.2331534470825' target='_blank'>open map</a><br />
    <br />
    Tel: <a href="tel:5746316258">(574) 631-6258</a><br />
    <a href="mailto:asklib@nd.edu">asklib@nd.edu</a>
    </div>

      <h5 style="margin-bottom:0px;">Building Hours:</h5>
      <div class="ui-grid-a font-small">
        <div class="ui-block-a" style="width:25%;">Mon-Thu</div><div class="ui-block-b" style="width:75%;">7:30 am - 3:00 am</div>
        <div class="ui-block-a" style="width:25%;">Fri</div><div class="ui-block-b" style="width:75%;">7:30 am - 11:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">9:00 am - 11:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">10:00 am - 3:00 am</div>
      </div>


      <h5 style="margin-bottom:0px;">Circulation and Course Reserves:</h5>
      <a href="tel:5746316258" class="font-small">(574) 631-6318</a><br />
      <div class="ui-grid-a font-small">
        <div class="ui-block-a" style="width:25%;">Mon-Fri</div><div class="ui-block-b" style="width:75%;">8:00 am - 5:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">12:00 pm - 5:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">CLOSED</div>
      </div>


      <h5 style="margin-bottom:0px;">Computer Lab:</h5>
      <a href="tel:5746316892" class="font-small">(574) 631-6892</a><br />
      <div class="ui-grid-a font-small">
        <div class="ui-block-a" style="width:25%;">Mon-Thu</div><div class="ui-block-b" style="width:75%;">7:30 am - 3:00 am</div>
        <div class="ui-block-a" style="width:25%;">Fri</div><div class="ui-block-b" style="width:75%;">7:30 am - 11:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">9:00 am - 11:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">10:00 am - 3:00 am</div>
      </div>

      <h5 style="margin-bottom:0px;">Lower Level Service Desk:</h5>
      <a href="tel:5746312889" class="font-small">(574) 631-2889</a><br />
      <div class="ui-grid-a font-small">
        <div class="ui-block-a" style="width:25%;">Mon-Fri</div><div class="ui-block-b" style="width:75%;">8:00 am - 5:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">12:00 pm - 5:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">CLOSED</div>
      </div>



    <h5 style="margin-bottom:0px;">Medieval Institute:</h5>
    <a href="tel:5746315724" class="font-small">(574) 631-5724</a><br />
    <div class="ui-grid-a font-small">
      <div class="ui-block-a" style="width:25%;">Mon-Fri</div><div class="ui-block-b" style="width:75%;">8:00 am - 5:00 pm</div>
      <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">CLOSED</div>
      <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">CLOSED</div>
    </div>


    <h5 style="margin-bottom:0px;">Music and Media Services Unit:</h5>
    <a href="tel:5746317438" class="font-small">(574) 631-7438</a><br />
    <div class="ui-grid-a font-small">
      <div class="ui-block-a" style="width:25%;">Mon-Fri</div><div class="ui-block-b" style="width:75%;">8:00 am - 5:00 pm</div>
      <div class="ui-block-a" style="width:25%;">Sat-Sun</div><div class="ui-block-b" style="width:75%;">CLOSED</div>
    </div>

    <h5 style="margin-bottom:0px;">Reference Desk:</h5>
    <a href="tel:5746316258" class="font-small">(574) 631-6258</a><br />
    <div class="ui-grid-a font-small">
      <div class="ui-block-a" style="width:25%;">Mon-Fri</div><div class="ui-block-b" style="width:75%;">8:00 am - 5:00 pm</div>
      <div class="ui-block-a" style="width:25%;">Sat-Sun</div><div class="ui-block-b" style="width:75%;">CLOSED</div>
    </div>

    <h5 style="margin-bottom:0px;">Special Collections:</h5>
    <a href="tel:5746315610" class="font-small">(574) 631-5610</a><br />
    <div class="ui-grid-a font-small">
      <div class="ui-block-a" style="width:25%;">Mon-Fri</div><div class="ui-block-b" style="width:75%;">8:00 am - 5:00 pm</div>
      <div class="ui-block-a" style="width:25%;">Sat-Sun</div><div class="ui-block-b" style="width:75%;">CLOSED</div>
    </div>

    <h5 style="margin-bottom:0px;">University Archives:</h5>
    <a href="tel:5746316448" class="font-small">(574) 631-6448</a><br />
    <div class="ui-grid-a font-small">
      <div class="ui-block-a" style="width:25%;">Mon-Fri</div><div class="ui-block-b" style="width:75%;">8:00 am - 5:00 pm</div>
      <div class="ui-block-a" style="width:25%;">Sat-Sun</div><div class="ui-block-b" style="width:75%;">CLOSED</div>
    </div>


  </div>
