

  <div style='margin-left:10px;margin-right:10px;'>

  <h4>Kellogg Kroc Library Information Center</h4>

  <%= image_tag "branches/Hesburgh Center.jpg", {:class => "branch"} %>

    <div style="font-size:0.95em;">
    318 Hesburgh Center for International Studies<br />Notre Dame, IN 46556<br />
      <a href="http://kkic.library.nd.edu/" target="_blank">kkic.library.nd.edu</a><br />
    <img src="/assets/gps.png" style="float:left; width:1.5em;">
    <a href='http://map.nd.edu/#/placemarks/1142/zoom/16/lat/41.70074917635271/lon/-86.23908139021303' target='_blank'>view map</a><br />
    <br />
    Tel: <a href="tel:5746318534">574.631.8534</a>
    </div>

      <h4 style="margin-bottom:0px;">Semester Hours:</h4>
      <div class="ui-grid-a font-smaller">
        <div class="ui-block-a" style="width:25%;">M-Th</div><div class="ui-block-b" style="width:75%;">1:00 pm - 5:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Fri-Sun</div><div class="ui-block-b" style="width:75%;">Closed</div>
      </div>

  </div>
