

  <div style='margin-left:10px;margin-right:10px;'>

  <h4>O'Meara Mathematics Library</h4>

  <img src="/assets/Hayes.jpg" style="max-width: 100%; margin-bottom:15px;">

    <div style="font-size:0.75em;">
    001 Hayes-Healy Center<br />Notre Dame, IN 46556<br />
    <img src="/assets/gps.png" style="float:left; width:1.5em;">
    <a href='http://map.nd.edu/#/placemarks/1076/zoom/16/lat/41.705233090036245/lon/-86.2331534470825' target='_blank'>open map</a><br />
    <br />
    Tel: <a href="tel:5746317278">574.631.7278</a><br />
    <a href="mailto:mathlib.1@nd.edu">mathlib.1@nd.edu</a>
    </div>

      <h5 style="margin-bottom:0px;">Hours:</h5>
      <div class="ui-grid-a font-small">
        <div class="ui-block-a" style="width:25%;">Mon-Thu</div><div class="ui-block-b" style="width:75%;">9:00 am - 11:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Fri</div><div class="ui-block-b" style="width:75%;">9:00 am - 5:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">1:00 pm - 5:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">1:00 pm - 11:00 pm</div>
      </div>

  </div>
