

  <div style='margin-left:10px;margin-right:10px;'>

  <h4>O'Meara Mathematics Library</h4>

    <%= image_tag "branches/Hayes.jpg", {:class => "branch"} %>

    <div style="font-size:0.95em;">
    001 Hayes-Healy Center<br />Notre Dame, IN 46556<br />
    <a href="http://mathematics.library.nd.edu/" target="_blank">mathematics.library.nd.edu</a><br />
    <img src="/assets/gps.png" style="float:left; width:1.5em;">
    <a href='http://map.nd.edu/#/placemarks/1082/zoom/16/lat/41.70074917635271/lon/-86.23908139021303' target='_blank'>view map</a><br />
    <br />
    Tel: <a href="tel:5746317278">574.631.7278</a><br />
    <a href="mailto:mathlib.1@nd.edu">mathlib.1@nd.edu</a>
    </div>

      <h4 style="margin-bottom:0px;">Hours:</h4>
      <div class="ui-grid-a font-smaller">
        <div class="ui-block-a" style="width:25%;">M-Th</div><div class="ui-block-b" style="width:75%;">9:00 am - 11:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Fri</div><div class="ui-block-b" style="width:75%;">9:00 am - 5:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sat</div><div class="ui-block-b" style="width:75%;">1:00 pm - 5:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sun</div><div class="ui-block-b" style="width:75%;">1:00 pm - 11:00 pm</div>
      </div>

  </div>
