

  <div style='margin-left:10px;margin-right:10px;'>

  <h4>Visual Resources Center</h4>

    <%= image_tag "branches/Riley Hall.JPG", {:class => "branch"} %>

    <div style="font-size:0.95em;">
    216 Riley Hall<br />Notre Dame, IN 46556<br />
    <a href="http://vrc.library.nd.edu/" target="_blank">vrc.library.nd.edu</a><br />
    <img src="/assets/gps.png" style="float:left; width:1.5em;">
    <a href='http://map.nd.edu/#/placemarks/1021/zoom/16/lat/41.70074917635271/lon/-86.23908139021303' target='_blank'>view map</a><br />
    <br />
    Tel: <a href="tel:5746314273">574.631.4273</a>
    </div>

      <h4 style="margin-bottom:0px;">Hours:</h4>
      <div class="ui-grid-a font-smaller">
        <div class="ui-block-a" style="width:25%;">Mon-Fri</div><div class="ui-block-b" style="width:75%;">9:00 am - 6:00 pm</div>
        <div class="ui-block-a" style="width:25%;">Sat-Sun</div><div class="ui-block-b" style="width:75%;">Closed</div>
      </div>

  </div>
